{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    {{ form.media.css }}
{% endblock %}
{% block breadcrump %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'returns' %}">Returns</a></li>
            <li class="breadcrumb-item active" aria-current="page">Record Return</li>
        </ol>
    </nav>

{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Record return for receipt number {{ receipt.number }} by {{ receipt.customer.shop_name }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <p><sup>*</sup> fields are required</p>
            <br/>
            <form method="post" id="formset">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <br/>
            <div class="alert alert-info" role="alert">
                <span data-feather="help-circle"> </span>
                Record a return.
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}