{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block breadcrump %}
    {% include 'includes/nav.html' %}
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Returns</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Returns</h1>
    </div>
    <table id="customers" class="table table-striped table-responsive-md" style="width:100%">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Receipt No</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Reason</th>
            <th>Date</th>
            <th>Credit Note</th>
            <th>Approved?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for return in returns %}
            <tr>
                <td>{{ return.receipt.customer.shop_name }}</td>
                <td><a href="{% url 'sale-receipt' pk=return.receipt.number %}">{{ return.receipt.number }}</a></td>
                <td>{{ return.product.name }}</td>
                <td>{{ return.qty }}</td>
                <td>{{ return.price | intcomma }}</td>
                <td>{{ return.reason }}</td>
                <td>{{ return.date }}</td>
                <td>Ksh. {{ return.credit_note | intcomma }}</td>
                <td>{{ return.approved }}</td>
                <td>
                    <button type="submit" class="btn btn-outline-success">Approve
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Customer</th>
            <th>Receipt</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Reason</th>
            <th>Date</th>
            <th>Credit Note</th>
            <th>Approved?</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
    <br/>
    <div class="alert alert-info" role="alert">
        <span data-feather="help-circle"> </span>
        View, record returns and approve them.
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#customers').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "columnDefs": [{
                    "targets": 9,
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
    </script>
    <script type="text/javascript">window.deactivate = function () {
        var isValid = confirm('Are you sure you want to deactivate this return ?');
        if (!isValid) {
            event.preventDefault();
            alert("Not deactivated");
        }
    }</script>
    <script type="text/javascript">window.activate = function () {
        var isValid = confirm('Are you sure you want to deactivate this user ?');
        if (!isValid) {
            event.preventDefault();
            alert("Not deactivated");
        }
    }</script>
{% endblock %}