{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Add Receipt</h1>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <p><sup>*</sup> fields are required</p>
            <br/>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#id_date').datetimepicker(
                    {
                        'format': 'Y-m-d h:s'
                    });
            });
        });
    </script>
{% endblock %}