{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
    {% include 'includes/nav.html' %}
    <hr/>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2"> Trade Debtors</h1>
    </div>
    <table id="customers" class="table table-striped" style="width:100%">
        <thead class="thead-dark">
        <tr>
            <th>Customer</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for balance in debtors %}
            <tr>
                <td>
                    {{ balance.customer.shop_name }}
                </td>
                {% if balance.amount < 0 %}
                    <td></td>
                    <td>{{ balance.amount|abs | intcomma }}</td>
                {% else %}
                    <td>{{ balance.amount | intcomma }}</td>
                    <td></td>
                {% endif %}
                <td>
                    <a class="btn btn-outline-success btn-sm"
                       href="#" data-toggle="tooltip"
                       data-placement="top"
                       title="View  {{ balance.customer.shop_name }}  statement">View Customer Statement</a>
                </td>
                {% empty %}
                <td class="text-center"><b>No data available in table</b></td>
            </tr>
        {% endfor %}
        <tr>
            <th>Grand Total</th>
            <th>{{ credit_total.total | intcomma }}</th>
            <th>{{ debit_total.total|abs |intcomma }}</th>
            <td></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <p><b>Showing {{ balances.start_index }} to {{ balances.end_index }} of {{ balances.paginator.count }} bbf
        accounts</b>
    </p>
    {% if balances.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if balances.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=





















                                {{ balances.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                           aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link"
                                                      disabled
                                                      aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                        <span class="sr-only">Previous</span>
                    </a></li>
                {% endif %}
                {% for i in balances.paginator.page_range %}
                    {% if balances.number == i %}
                        <li class="page-item active"><a class="page-link" disabled>{{ i }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page=






















                                {{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if balances.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page=























                                {{ balances.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                           aria-label="Next">
                            <span aria-hidden="true">Next</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" disabled aria-label="Next">
                            <span aria-hidden="true">Next</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    <div class="alert alert-info" role="alert">
        <span data-feather="help-circle"> </span>
        customer accounts show all the aggregate balance for each customer for all transactions.
        (-) means the customer owes Meru Greens and (+) means the Meru Greens owe the customer.
        Click on details to view each account balance breakdown and view all the individual transactions
    </div>
{% endblock %}