{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
    {% include 'includes/nav.html' %}
    <hr/>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2"> {{ customer.shop_name }} Statement</h1>
        <a href="{% url 'customer_statement' customer=customer.pk %}?download=true" class="btn btn-outline-success">
            Export as PDF
        </a>
    </div>
    {% if has_discount %}
        <table id="customers" class="table table-bordered table-striped table-responsive-md" style="width:100%">
            <thead class="thead-dark">
            <tr>
                <th colspan="5">Purchase</th>
                <th rowspan="2">Payment</th>
                <th rowspan="2">action</th>
            </tr>
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>@</th>
                <th>Discount</th>
                <th>subtotal</th>
            </tr>
            </thead>
            <tbody>
            {% regroup account by  date as items %}
            {% for item in items %}
                <tr>
                    <td colspan="7"><b>{{ item.grouper }}</b></td>
                </tr>
                {% for item in item.list %}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.at }}</td>
                        <td>{{ item.discount }}</td>
                        <td>{{ item.subtotal }}</td>
                        <td>{{ item.payment | intcomma }}</td>
                        <td>{% if item.receipt_id %}
                            <a href="{% url 'sale-receipt' pk=item.receipt_id %}"
                               class="btn btn-outline-success btn-sm">view
                                receipt</a>
                        {% elif item.return_id %}
                            <a href="{% url 'return' pk=item.return_id %}" class="btn btn-outline-success btn-sm">view
                                return</a>
                        {% elif item.customer %}
                            <a href="{% url 'customer_deposits' customer=item.customer %}"
                               class="btn btn-outline-success btn-sm">view
                                deposits</a>
                        {% else %}
                            no action
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% empty %}
                <td class="text-center" colspan="8"><b>No data available in table</b></td>
            {% endfor %}
            <tr>
                <th>Grand Total</th>
                {% if balance.amount < 0 %}
                    <th></th>
                    <th></th>
                    <th>{{ balance.amount |abs | intcomma }} dr</th>
                    <th></th>
                {% else %}
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ balance.amount  |intcomma }} cr</th>
                {% endif %}
                <td></td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <table id="customers" class="table table-bordered table-striped table-responsive-md" style="width:100%">
            <thead class="thead-dark">
            <tr>
                <th rowspan="2">Date</th>
                <th colspan="4">Purchase</th>
                <th rowspan="2">Payment</th>
                <th rowspan="2">action</th>
            </tr>
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>@</th>
                <th>subtotal</th>
            </tr>
            </thead>
            <tbody>
            {% for item in account %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.item }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.at }}</td>
                    <td>{{ item.subtotal }}</td>
                    <td>{{ item.payment | intcomma }}</td>
                    <td>{% if item.receipt_id %}
                        <a href="{% url 'sale-receipt' pk=item.receipt_id %}" class="btn btn-outline-success btn-sm">view
                            receipt</a>
                    {% elif item.return_id %}
                        <a href="{% url 'return' pk=item.return_id %}" class="btn btn-outline-success btn-sm">view
                            return</a>
                    {% elif item.customer %}
                        <a href="{% url 'customer_deposits' customer=item.customer %}"
                           class="btn btn-outline-success btn-sm">view
                            deposits</a>
                    {% else %}
                        no action
                    {% endif %}
                    </td>
                    {% empty %}
                    <td class="text-center" colspan="8"><b>No data available in table</b></td>
                </tr>
            {% endfor %}
            <tr>
                <th>Grand Total</th>
                {% if balance.amount < 0 %}
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ balance.amount |abs | intcomma }} dr</th>
                    <th></th>
                {% else %}
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ balance.amount  |intcomma }} cr</th>
                {% endif %}
                <td></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
    <hr/>
    <div class="alert alert-info" role="alert">
        <span data-feather="help-circle"> </span>
        customer accounts show all the aggregate balance for each customer for all transactions.
        (-) means the customer owes Meru Greens and (+) means the Meru Greens owe the customer.
        Click on details to view each account balance breakdown and view all the individual transactions
    </div>
{% endblock %}