{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
    {% include 'includes/nav.html' %}
    <hr/>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2"> Trade Debtors</h1>
        <a href="{% url 'trade-debtors' %}?download=true" class="btn btn-outline-success">Export as PDF</a>
    </div>
    <table id="customers" class="table table-striped" style="width:100%">
        <thead class="thead-dark">
        <tr>
            <th>Customer</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for balance in debtors %}
            <tr>
                <td>
                    {{ balance.customer.shop_name }}
                </td>
                {% if balance.amount < 0 %}
                    <td></td>
                    <td>{{ balance.amount|abs | intcomma }}</td>
                {% else %}
                    <td>{{ balance.amount | intcomma }}</td>
                    <td></td>
                {% endif %}
                <td>
                    {% if balance.customer %}
                        <a class="btn btn-outline-success btn-sm"
                           href="{% url 'customer_statement' customer=balance.customer.number %}" data-toggle="tooltip"
                           data-placement="top"
                           title="View  {{ balance.customer.shop_name }}  statement">View Customer Statement</a>
                    {% else %}
                        No action
                    {% endif %}
                </td>
                {% empty %}
                <td class="text-center"><b>No data available in table</b></td>
            </tr>
        {% endfor %}
        <tr>
            <th>Grand Total</th>
            <th>{{ credit_total.total | intcomma }} cr</th>
            <th>{{ debit_total.total|abs |intcomma }} dr</th>
            <td></td>
        </tr>
        </tbody>
    </table>
    <hr/>
{% endblock %}