{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block styles %}
    {% include 'includes/filter_css.html' %}
{% endblock %}
{% block content %}
    {% include 'includes/nav.html' %}
    <h4 class="text-center">Total Sales</h4>
    {% include 'includes/filter_by.html' %}
    <table id="customers" class="table table-striped" style="width:100%">
        <thead class="thead-dark">
        <tr>
            <th>Receipt No.</th>
            <th>Shop Name</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for receipt in sales %}
            <tr>
                <td>{{ receipt.number }}</td>
                <td>{{ receipt.customer.shop_name }}</td>
                <td>{{ receipt.date }}</td>
                <td>
                    <a class="btn btn-outline-success btn-sm" href="{% url 'sale-receipt' pk=receipt.number %}">view
                        receipt</a>
                </td>
                {% empty %}
                <td class="text-center"><b>No data available in table</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if sales.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if sales.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=



                                {{ sales.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                           aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link"
                                                      disabled
                                                      aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                        <span class="sr-only">Previous</span>
                    </a></li>
                {% endif %}
                {% for i in sales.paginator.page_range %}
                    {% if sales.number == i %}
                        <li class="page-item active"><a class="page-link" disabled>{{ i }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page=


                                {{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if sales.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page=







                                {{ sales.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                           aria-label="Next">
                            <span aria-hidden="true">Next</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" disabled aria-label="Next">
                            <span aria-hidden="true">Next</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
{% block scripts %}
    {% include 'includes/filter_js.html' %}
{% endblock %}