{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}
{% block content %}
    {% include 'includes/nav.html' %}
    <br/>
    <h4 class="text-center"><u>Receipt Number {{ receipt.number }}</u></h4>
    <div class="row">
        <div class="col-sm-8 offset-sm-4">
            <p><b>Customer: </b>{{ receipt.customer.shop_name }}</p>
            <p><b>Served By: </b>{{ receipt.served_by.username }}</p>
            <p><b>Date: </b>{{ receipt.date }}</p>
        </div>
    </div>
    <br/>
    <h5 class="text-center">Receipt Particulars</h5>
    <div class="row">
        <div class="col-md-8 offset-md-2">
                <a class="btn btn-outline-success mb-1" href="{% url 'add-sale-receipt' pk=receipt.number %}">add
                    particular
                </a>
            <table class="table table-responsive-md">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Qty</th>
                    <th scope="col">@ (Ksh)</th>
                    <th scope="col">Discount (%)</th>
                    <th scope="col">Sub Total (Ksh)</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                {% for particular in particulars %}
                    <tr>
                        <td>{{ particular.product.name }}</td>
                        <td>{{ particular.qty }}</td>
                        <td>{{ particular.price | intcomma }}</td>
                        <td>{{ particular.discount }}</td>
                        <td>{{ particular.total | intcomma }}</td>
                        <td>{{ particular.get_type_display }}</td>
                    </tr>
                {% endfor %}

            </table>
            <hr/>
            {% if not receipt.has_credit %}
                <div class="float-right">
                    <p><b>Total Qty: </b>{{ total_qty | intcomma }}</p>
                    <p><b>Total Amount: </b>Ksh. {{ total_amount | intcomma }}</p>
                    <p data-toggle="tooltip" data-placement="top" title="Balance Brought Forward">
                        <b>BBF Account Balance: </b>Ksh.{{ receipt.bbf_balance | intcomma }}</p>
                    <p><b>Amount Payed: </b>Ksh. {{ total_payment.sum  | intcomma }}</p>
                    <p data-toggle="tooltip" data-placement="top" title="Balance Carried Forward">
                        <b>BCF: </b>Ksh. {{ bcf.amount | intcomma }}</p>
                </div>
            {% endif %}
            <div class="float-left">
                <h6 class="text-center">Receipt Payments</h6>
                {% for payment in payments %}
                    <p><b>Payment Type : </b>{{ payment.get_type_display }}</p>
                    <p><b>Amount : </b>Ksh. {{ payment.amount | intcomma }}</p>
                    {% if payment.type == 1 %}
                        <p><b>Cheque Number : </b> {{ payment.check_number }}</p>
                    {% elif payment.type == 2 %}
                        <p><b>Mobile No. :</b> {{ payment.mobile_number }}</p>
                        <p><b>Transaction Id : </b>{{ payment.transaction_id }}</p>
                    {% elif payment.type == 4 %}
                        <p><b>Invoice Number: </b>{{ receipt.id }}</p>
                        <p><b>Date to Pay : </b> {{ payment.date_to_pay }}</p>
                        <a href="#" class="button">View Invoice</a>
                    {% elif payment.type == 5 %}
                        <p><b>Transfer Code : </b>{{ payment.transfer_code }}</p>
                    {% endif %}
                {% empty %}
                    <p><b>No Payments have been made yet.</b></p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
