{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load humanize %}
{% load static %}
{% block content %}
    {% include 'includes/nav.html' %}
    <br/>
    <h4 class="text-center"><u>Receipt Number {{ receipt.number }}</u></h4>
    <div class="row">
        <div class="col-sm-8 offset-sm-4">
            <p><b>Customer: </b>{{ receipt.customer.shop_name }}</p>
            <p><b>Served By: </b>{{ receipt.served_by.username }}</p>
            <p><b>Date: </b>{{ receipt.date }}</p>
        </div>
    </div>
    <br/>
    <h5 class="text-center">Receipt Particulars</h5>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if perms.sales.add_receiptparticular %}
                <a class="btn btn-outline-success mb-1" href="{% url 'add-sale-receipt' pk=receipt.number %}">add
                    particular
                </a>
            {% endif %}
            <table class="table table-responsive-md">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Qty</th>
                    <th scope="col">@ (Ksh)</th>
                    <th scope="col">Discount (%)</th>
                    <th scope="col">Sub Total (Ksh)</th>
                    <th scope="col">Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                {% for particular in particulars %}
                    <tr>
                        <td>{{ particular.product.name }}</td>
                        <td>{{ particular.qty }}</td>
                        <td>{{ particular.price | intcomma }}</td>
                        <td>{{ particular.discount }}</td>
                        <td>{{ particular.total | intcomma }}</td>
                        <td>{{ particular.get_type_display }}</td>
                        <td>
                            {% if perms.sales.change_receiptparticular %}
                                <a href="{% url 'update-receipt-particular' item=particular.id %}"
                                   class="btn btn-outline-success mb-1">update</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>
            <hr/>
            {% if not receipt.has_credit %}
                <div class="float-right">
                    <p><b>Total Qty: </b>{{ total_qty | intcomma }}</p>
                    {% if receipt.receiptmisc.balance %}
                        <p data-toggle="tooltip" data-placement="top" title="Balance Brought Down before
                     this sale">
                            <b>BBD: </b>Ksh. {{ receipt.receiptmisc.balance | intcomma }}</p>
                    {% else %}
                        <p data-toggle="tooltip" data-placement="top" title="Balance Brought Down before
                     this sale">
                            <b>BBD: </b>Ksh. 0.0</p>
                    {% endif %}
                    <p><b>Sale Amount: </b>Ksh. {{ total_amount | intcomma }}</p>
                    {% if receipt.receiptmisc.balance %}
                        <p><b>Amount Payable: </b>Ksh. {{ total_amount|sub:receipt.receiptmisc.balance | intcomma }}</p>
                    {% else %}
                        <p><b>Amount Payable: </b>Ksh. {{ total_amount| intcomma }}</p>
                    {% endif %}
                    <p><b>Amount Payed: </b>Ksh. {{ total_payment.sum  | intcomma }}</p>
                    {% if receipt.receiptmisc.balance %}
                        <p data-toggle="tooltip" data-placement="top" title="Balance Brought Forward after
                     this sale">
                            <b>BBF: </b>Ksh. {{ total_payment.sum|sub:total_amount|add:receipt.receiptmisc.balance | intcomma }}
                        </p>
                    {% else %}
                        <p data-toggle="tooltip" data-placement="top" title="Balance Brought Forward after
                     this sale">
                            <b>BBF: </b>Ksh. {{ total_payment.sum|sub:total_amount | intcomma }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}
            <div class="float-left">
                <h6 class="text-center">Receipt Payments</h6>
                {% if perms.sales.add_receiptpayment %}
                    <a href="{% url 'add-sale-payment' receipt=receipt.number %}" class="btn btn-outline-success">Add
                        payment</a>
                {% endif %}
                {% for payment in payments %}
                    <p><b>Payment Type : </b>{{ payment.get_type_display }}</p>
                    {% if not receipt.has_credit %}
                        <p><b>Amount : </b>Ksh. {{ payment.amount | intcomma }}</p>
                    {% else %}
                        <p><b>Amount : </b>Ksh. {{ particulars_amount.sum | intcomma }}</p>
                    {% endif %}
                    {% if perms.sales.change_receiptpayment %}
                        <a href="{% url 'update-sale-payment' receipt=receipt.pk payment=payment.pk %}"
                           class="btn btn-outline-success btn-sm mb-1">Update Payment</a>
                    {% endif %}
                    {% if payment.type == 1 %}
                        <p><b>Cheque Number : </b> {{ payment.check_number }}</p>
                    {% elif payment.type == 2 %}
                        <p><b>Mobile No. :</b> {{ payment.mobile_number }}</p>
                        <p><b>Transaction Id : </b>{{ payment.transaction_id }}</p>
                    {% elif payment.type == 4 %}
                        <p><b>Invoice Number: </b>{{ receipt.number }}</p>
                        <a href="#" class="button">View Invoice</a>
                    {% elif payment.type == 5 %}
                        <p><b>Transfer Code : </b>{{ payment.transfer_code }}</p>
                    {% endif %}
                {% empty %}
                    <p><b>No Payments have been made yet.</b></p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        <span data-feather="help-circle"> </span>
        (-) BBF & BBD account balance means the customer owes Meru Greens and (+) BBF & BBD account balance means that Meru Greens
        owe the customer.<br/>
        (-) Amount Payable means the customer does not have to pay anything and that meru greens owes them money. (+)
        Amount Payable is the total amount money the customer has to pay for this sale.
    </div>
{% endblock %}
