{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Forgot Password</h1>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <br/>
            <form method="post" id="formset">
                <p class="text-center"><b>Enter your account email and we will send you password
                    reset link</b></p>
                {% csrf_token %}
                            <p><sup>*</sup> fields are required</p>
                {{ form | crispy }}
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}