{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Password reset confirmation</h1>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <br/>
            {% if validlink %}
                <form method="post" id="formset">
                    <p class="text-center"><b>Change Password</b></p>
                    {% csrf_token %}
                    <p><sup>*</sup> fields are required</p>
                    {{ form | crispy }}
                    <div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}