{% load humanize %}
{% load mathfilters %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ customer.shop_name }} statement as of {{ today }}</title>
    <style>
        #customers td, #customers th {
            border: 1px solid #ddd;
            padding-top: 3px;
            text-align: center;
        }
    </style>
</head>
<body>
<h4><u>{{ customer.shop_name }} statement as of {{ today }}</u></h4>
{% if has_discount %}
    <table id="customers">
        <thead>
        <tr>
            <th colspan="5">Purchase</th>
            <th rowspan="2">Payment</th>
            <th rowspan="2">narration</th>
        </tr>
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>@</th>
            <th>Discount</th>
            <th>subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% regroup account by  date as items %}
        {% for item in items %}
            <tr>
                <td colspan="7"><b>{{ item.grouper }}</b></td>
            </tr>
            {% for item in item.list %}
                <tr>
                    <td>{{ item.item | safe }}</td>
                    <td>{{ item.qty | safe | intcomma }}</td>
                    <td>{{ item.at }}</td>
                    <td>{{ item.discount }}</td>
                    <td>{{ item.subtotal | safe | intcomma}}</td>
                    <td>{{ item.payment | intcomma }}</td>
                    <td>{% if item.receipt_id %}
                        Receipt No. {{ item.receipt_id }}
                    {% elif item.return_id %}
                        Return No. {{ item.return_id }}
                    {% else %}
                        -
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% empty %}
            <td colspan="8"><b>No data available in table</b></td>
        {% endfor %}
        <tr>
            <th>Grand Total</th>
            {% if balance.amount < 0 %}
                <th></th>
                <th></th>
                <th></th>
                <th>{{ balance.amount |abs | intcomma }} dr</th>
                <th></th>
            {% else %}
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ balance.amount  |intcomma }} cr</th>
            {% endif %}
            <td></td>
        </tr>
        </tbody>
    </table>
{% else %}
        <table id="customers">
        <thead>
        <tr>
            <th colspan="4">Purchase</th>
            <th rowspan="2">Payment</th>
            <th rowspan="2">narration</th>
        </tr>
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>@</th>
            <th>subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% regroup account by  date as items %}
        {% for item in items %}
            <tr>
                <td colspan="6"><b>{{ item.grouper }}</b></td>
            </tr>
            {% for item in item.list %}
                <tr>
                    <td>{{ item.item | safe }}</td>
                    <td>{{ item.qty | safe | intcomma }}</td>
                    <td>{{ item.at }}</td>
                    <td>{{ item.subtotal | safe | intcomma }}</td>
                    <td>{{ item.payment | intcomma }}</td>
                    <td>{% if item.receipt_id %}
                        Receipt No. {{ item.receipt_id }}
                    {% elif item.return_id %}
                        Return No. {{ item.return_id }}
                    {% else %}
                        -
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% empty %}
            <td colspan="8"><b>No data available in table</b></td>
        {% endfor %}
        <tr>
            <th>Grand Total</th>
            {% if balance.amount < 0 %}
                <th></th>
                <th></th>
                <th>{{ balance.amount |abs | intcomma }} dr</th>
                <th></th>
            {% else %}
                <th></th>
                <th></th>
                <th></th>
                <th>{{ balance.amount  |intcomma }} cr</th>
            {% endif %}
            <td></td>
        </tr>
        </tbody>
    </table>
{% endif %}
</body>
</html>
