{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% block title %}Receipt | Meru Greens Horticulture Ltd.{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Meru Greens Horticulture Ltd.</a></h1>
{% endblock %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
    <style>
        .footer {
            font-weight: bold;
            border-top: 2px solid #DDDDDD;
        }

        td {
            height: 30px;
            font-size: 15px;
        }
    </style>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'admin:app_list' app_label='sales' %}">Sales</a>
        &rsaquo;
        <a href="/sales/receipt/">Sales</a>
        &rsaquo;
        Receipt
    </div>
{% endblock %}
{% block content %}
    <div id="content-main">
        <section class="section">
            <div class="container">
                <a class="button" href="/sales/receipt/">Back</a>
                <h1 class="title has-text-centered">Receipt No. {{ receipt.id }}</h1>
                <div class="columns">
                    <div class="column">
                        <p><b>Customer Shop Name : </b>
                            <a href="/sales/customer/{{ receipt.customer.id }}/change/">
                                {{ receipt.customer.shop_name }}
                            </a>
                        </p>
                    </div>
                    <div class="column">
                        <p><b>Customer Shop Nick Name : </b>{{ receipt.customer.nick_name }}</p>
                    </div>
                    <div class="column">
                        <p><b>Served By : </b>
                            <a href="/core/user/{{ receipt.served_by.id }}/change/">
                                {{ receipt.served_by.username }}
                            </a></p>

                    </div>
                    <div class="column">
                        <p><b>Date : </b>{{ receipt.date|date:"D d M Y, h:i A" }}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="title has-text-centered is-size-5">Receipt Particulars</h2>
                <div class="columns">
                    <div class="column">
                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th>items</th>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>@</th>
                                <th>Discount (%)</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for particular in receipt.receiptparticular_set.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ particular.product.name }}</td>
                                    <td>{{ particular.qty|floatformat }} Kg(s)</td>
                                    <td>Ksh. {{ particular.price|floatformat:2 }}</td>
                                    <td>{% if particular.discount %}
                                        {{ particular.discount }}
                                    {% else %} - {% endif %}
                                    </td>
                                    <td>Ksh. {{ particular.total|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}

                            <tr class="footer">
                                <td> Total</td>
                                <td> -</td>
                                <td> {{ receipt.total_qty|floatformat }} Kgs</td>
                                <td> -</td>
                                <td> -</td>
                                <td> Ksh. {{ receipt.total_amount|floatformat:2 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="title has-text-centered is-size-5e">Payments</h2>
                {% for payment in receipt.receiptpayment_set.all %}
                    <div class="columns">
                        <div class="column is-offset-one-quarter is-half">
                            <div class="card">
                                <div class="card-content">
                                    <p><b>Payment Type : </b>{{ payment.get_type_display }}</p>
                                    <p><b>Amount : </b>{{ payment.amount }}</p>
                                    {% if payment.type == 1 %}
                                        <p><b>Cheque Number : </b> {{ payment.check_number }}</p>
                                    {% elif payment.type == 2 %}
                                        <p><b>Mobile No. :</b> {{ payment.mobile_number }}</p>
                                        <p><b>Transaction Id : </b>{{ payment.transaction_id }}</p>
                                    {% elif payment.type == 4 %}
                                        <p><b>Invoice Number: </b>{{ receipt.id }}</p>
                                        <p><b>Date to Pay : </b> {{ payment.date_to_pay }}</p>
                                        <a href="#" class="button">View Invoice</a>
                                    {% elif payment.type == 5 %}
                                        <p><b>Transfer Code : </b>{{ payment.transfer_code }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if not receipt.has_credit %}
                    <div class="columns">
                        <div class="column is-offset-one-quarter is-half">
                            <hr>
                            <div class="card">
                                <div class="card-content">
                                    <p><b>Total Payed : </b> {{ receipt.total_payment }}</p>
                                    <p><b>Total Cost : </b>{{ receipt.total_amount }}</p>
                                    <p><b>Balance : </b>{{ receipt.balance }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
