{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block breadcrump %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'billings' %}">Billing Group</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% if object %} Update {% else %} Add {% endif %}
                Billing Group
            </li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    {% include 'includes/settings-nav.html' %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{% if object %} Update {% else %} Add {% endif %} Billing Group</h1>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary" value="save">
            </form>
        </div>
    </div>
{% endblock %}