<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h3>Your login credentials to Meru Greens Horticulture Ltd System</h3>
<p>Hello {{ username }}. Your account has been created with
    meru green horticulture ltd sales system.</p>
<p>To log in to the system, use this link,
    <a href="{{ login_link }}"> {{ login_link }}</a>.</p>
<p>Your log in credentials are: username: <b>{{ username }}</b>, and password: <b>{{ password }}</b>.</p>
<p>
    Keep your password a secret and do not share it with anyone.
</p>
<p>You can change this password later using this link, <a href="{{ password_link }}">
    {{ password_link }}.
</a> .Note that you have to be logged in first</p>
</body>
</html>