{% extends 'base.html' %}
{% block breadcrump %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'customers' %}">Customers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add {{ customer.shop_name }} existing bbf</li>
        </ol>
    </nav>
{% endblock %}
{% if perms.sales.add_bbf %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Add {{ customer.shop_name }} existing bbf</h1>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form_include.html' with form=form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}