{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    {% include 'includes/filter_css.html' %}
{% endblock %}
{% block content %}
    <h4 class="text-center">Customers</h4>
    <p>
        <a class="btn btn-outline-success" href="{% url 'create-customer' %}">
            <span data-feather="plus"></span>
            New Customer
        </a>
    </p>
    {% include 'includes/filter_by.html' %}
    <table id="customers" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Shop Name</th>
            <th>Nick Name</th>
            <th>Location</th>
            <th>Phone Number</th>
            <th>Region</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in filter.qs %}
            <tr>
                <td>{{ customer.shop_name }}</td>
                <td>{{ customer.nick_name }}</td>
                <td>{{ customer.location }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.region }}</td>
                <td>
                    <a class="btn btn-outline-success btn-sm"
                       href="{% url 'add-prices' pk=customer.number %}">prices</a>
                    <a class="btn btn-outline-success btn-sm"
                       href="{% url 'add-discounts' pk=customer.number %}">discounts</a>
                    <a class="btn btn-outline-success btn-sm"
                       href="{% url 'place-order' pk=customer.number %}">place
                        order</a>
                    <a class="btn btn-outline-success btn-sm"
                       href="{% url 'update-customer' pk=customer.number %}">Edit</a>
                    <a class="btn btn-outline-danger btn-sm"
                       href="{% url 'delete-customer' pk=customer.number %}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Shop Name</th>
            <th>Nick Name</th>
            <th>Location</th>
            <th>Phone Number</th>
            <th>Region</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#customers').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "columnDefs": [{
                    "targets": 5,
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
    </script>
    {% include 'includes/filter_js.html' %}
{% endblock %}