{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    {{ formset.media.css }}
{% endblock %}
{% block breadcrump %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'customers' %}">Customers</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ create_name }}</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <h4 class="text-center">Place {{ customer.shop_name }} orders to be delivered on {{ delivery   }}</h4>
            <form method="post" id="formset">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {% if create_sub_name %}
                        <h5 class="text-center">Add new {{ create_sub_name }}</h5>
                    {% endif %}
                    {{ form | crispy }}
                {% endfor %}
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ formset.media.js }}
{% endblock %}