{% load crispy_forms_tags %}

<div class="row">
    <div class="col-sm-6 offset-sm-3" id="filter">
        <a href="#" id="filters" class=" btn btn-sm btn-outline-success float-right mb-2">Search</a>
        <div class="filter-container">
            <h5 class="text-center">Search By</h5>
            <form action="" method="get">
                {{ filter.form | crispy }}
                <input type="submit" value="Search" class="btn btn-primary"/>
            </form>
            <a href="#" id="hide-filters" class=" btn btn-sm btn-outline-success float-right mb-2">hide Search Form</a>
        </div>
    </div>
</div>