<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link {% if request.resolver_match.url_name == 'total-sales' %}
                        active
                        {% endif %}" href="{% url 'total-sales' %}">Customers Sales</a>
    <a class="nav-item nav-link {% if request.resolver_match.url_name == 'cash-sales' %}
                        active
                        {% endif %}" href="{% url 'cash-sales' %}">Cash Sales</a>
    <a class="nav-item nav-link {% if request.resolver_match.url_name == 'invoices' %}
                        active
                        {% endif %}" href="{% url 'invoices' %}">Invoice</a>
    <a class="nav-item nav-link" href="#">Debt Settlement</a>
    <a class="nav-item nav-link {% if 'bbfs' in request.path %}
                        active
                        {% endif %}" href="{% url 'bbfs' %}">BBF Accounts</a>
    <a class="nav-item nav-link {% if 'returns' in request.path %}
                        active
                        {% endif %}" href="{% url 'returns' %}">Returns</a>
</nav>