<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link {% if 'all/customers' in request.path %}
                        active
                        {% endif %}" href="{% url 'total-sales' %}">Customers Sales</a>
    <a class="nav-item nav-link {% if 'cash' in request.path %}
                        active
                        {% endif %}" href="{% url 'cash-sales' %}">Open Air Market Sales</a>
    <a class="nav-item nav-link {% if 'debtors' in request.path %}
                        active
                        {% endif %}" href="{% url 'trade-debtors' %}">Trade Debtors</a>
    <a class="nav-item nav-link {% if 'returns' in request.path %}
                        active
                        {% endif %}" href="{% url 'returns' %}">Returns</a>
</nav>