{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block content %}
    <h4 class="text-center">Aggregation Centers</h4>
    <p>
        <a class="btn btn-outline-success" href="{% url 'create-center' %}">
            <span data-feather="plus"></span>
            New Centers
        </a>
    </p>
    <table id="centers" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for center in object_list %}
            <tr>
                <td>{{ center.name }}</td>
                <td>{{ center.location }}</td>
                <td>
                    <a class="btn btn-outline-success btn-sm" href="">Product Availability</a>
                    <a class="btn btn-outline-success btn-sm" href="{% url 'update-center' pk=center.id %}">Edit</a>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'delete-center' pk=center.id %}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#centers').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "columnDefs": [{
                    "targets": 2,
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
    </script>
{% endblock %}