{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <h4 class="text-center">Sign In to start using the system</h4>
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Warning!</strong> You need to login to access that page.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endif %}
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form_include.html' with form=form %}
                <button type="submit" class="btn btn-primary">sign in</button>
            </form>
            <p><a href="{% url 'main-password_reset' %}">forgot password?</a></p>
        </div>
    </div>
{% endblock %}