{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
    <h4 class="text-center">Customer Regions</h4>
    <p>
        <a class="btn btn-outline-success" href="{% url 'create-region' %}">
            <span data-feather="plus"></span>
            New regions
        </a>
    </p>
    <table id="regions" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for region in object_list %}
            <tr>
                <td>{{ region.name }}</td>
                <td>
                    {% if perms.sales.change_region %}
                    <a class="btn btn-outline-success btn-sm" href="{% url 'update-region' pk=region.id %}">Edit</a>
                    {% endif %}
                    {% if perms.sales.delete_region %}
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'delete-region' pk=region.id %}">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#regions').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "columnDefs": [{
                    "targets": 1,
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
    </script>
{% endblock %}