{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>{% block title %}

    {% endblock %} {{ PROJECT_NAME }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    {% block styles %}

    {% endblock %}
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ PROJECT_NAME }}.</a>
    <ul class="navbar-nav px-3">
        {% if user.is_authenticated %}
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'log-out' %}">{{ request.user.username }}, Log out</a>
            </li>
        {% else %}
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'sign-in' %}">Log In</a>
            </li>
        {% endif %}
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}
                        active
                        {% endif %}" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" title="aggregation centers">
                        <a class="nav-link {% if 'centers' in request.path %}
                        active
                        {% endif %}" href="{% url 'centers-list' %}">
                            <span data-feather="list"></span>
                            Centers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'products' in request.path %}
                        active
                        {% endif %}" href="{% url 'products-list' %}">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'orders' in request.path %}
                        active
                        {% endif %}" href="{% url 'orders' %}">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'all' in request.path %}
                        active
                        {% endif %}" href="{% url 'total-sales' %}?date_0={{ date_30_days_ago }}">
                            <span data-feather="shopping-bag"></span>
                            Sales
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'breakdown' in request.path %}
                        active
                        {% endif %}" href="{% url 'banks' %}">
                            <span data-feather="dollar-sign"></span>
                            Cash Breakdown
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'regions' in request.path %}
                        active
                        {% endif %}" href="{% url 'regions' %}">
                            <span data-feather="tag"></span>
                            Regions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'sales/customers' in request.path %}
                        active
                        {% endif %}" href="{% url 'customers' %}">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'reports' in request.path %}
                        active
                        {% endif %}" href="{% url 'report-index' %}">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'users' in request.path %}
                        active
                        {% endif %}" href="{% url 'users' %}">
                            <span data-feather="user-check"></span>
                            System Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'admins/' in request.path %}
                        active
                        {% endif %}" href="{% url 'admin_list' %}">
                            <span data-feather="user-check"></span>
                            System Admins
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'change-password' in request.path %}
                        active
                        {% endif %}" href="{% url 'change_password' %}">
                            <span data-feather="user-check"></span>
                            Change Password
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'settings' in request.path %}
                        active
                        {% endif %}" href="{% url 'main-center' %}">
                            <span data-feather="settings"></span>
                            Settings
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'log-out' %}">
                                <span data-feather="log-out"></span>
                                {{ request.user.username }}, Log Out
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'sign-in' %}
                        active
                        {% endif %}" href="{% url 'sign-in' %}">
                                <span data-feather="log-in"></span>
                                Log In
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 mb-3">
            {% block breadcrump %}

            {% endblock %}
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    {% include 'includes/messages.html' %}
                </div>
            </div>
            {% block content %}

            {% endblock %}
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Icons -->
<script src="{% static 'js/feather.min.js' %}"></script>
<script>
    feather.replace();
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% block scripts %}

{% endblock %}
<script>
    $(document).ready(function () {
        $("form").submit(function () {
            $(this).submit(function () {
                return false;
            });
            return true;
        });
    });
</script>
<script src="{% static 'js/jquery.floatThead.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $("table").has('thead.thead-dark').floatThead({top: 48, position: 'auto'});
        $("input[id*='date']").attr("autocomplete", "off");
    });
</script>
</body>
</html>