{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block breadcrump %}
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admins</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Admins</h1>
        {% if perms.admins.add_admin %}
            <a class="btn btn-outline-success" href="{% url 'add_admin' %}">
                <span data-feather="plus"></span>
                Add Admin
            </a>
        {% endif %}
    </div>
    <div class="alert alert-primary" role="alert">
        This is a list of email address of people who will receive an email alert in case of
        an action that requires admin intervention, e.g, order duplication.
    </div>
    <table id="customers" class="table table-striped table-responsive-sm" style="width:100%">
        <thead>
        <tr>
            <th>Email</th>
            <th>Added On</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admin_list %}
            <tr>
                <td>{{ admin.email }}</td>
                <td>{{ admin.added_on }}</td>
                <td>
                    {% if perms.admins.change_admin %}
                        <a class="btn btn-outline-success btn-sm mb-1" href="{% url 'change_admin' pk=admin.pk %}">Update</a>
                    {% endif %}
                    {% if perms.admins.delete_admin %}
                        <a class="btn btn-outline-danger btn-sm mb-1"
                           onclick="return confirm('Are you sure you want to delete this admin?')"
                           href="{% url 'remove_admin' pk=admin.pk %}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Email</th>
            <th>Added On</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#customers').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "columnDefs": [{
                    "targets": 2,
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
    </script>
{% endblock %}
