{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <style>
        .delete-row {
            color: red;
            float: right;
        }

        .delete-row:hover {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
{% endblock %}
{% block breadcrump %}
    {% include 'cash_breakdown/nav.html' %}
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'cash_deposits' %}">Cash Deposits</a></li>
            <li class="breadcrumb-item active" aria-current="page">Record Cash Deposits</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <h4 class="text-center">Deposits</h4>

            <form method="post" id="formset">
                {% csrf_token %}
                {{ formset.management_form }}
                <div id="form-container">
                    {% for form in formset %}
                        <h5 class="text-center">New Deposit</h5>
                        {{ form | crispy }}
                    {% endfor %}
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#form-container').formset({
                prefix: '{{ formset.prefix }}'
            });
        })
    </script>
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('.dateinput').datetimepicker(
                    {
                        'format': 'Y-m-d',
                        'timepicker': false
                    });
                $('.add-row').on('click', function () {
                    $('.dateinput').datetimepicker(
                        {
                            'format': 'Y-m-d',
                            'timepicker': false
                        });
                })
            });
        });
    </script>
{% endblock %}