{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block breadcrump %}
    {% include 'cash_breakdown/nav.html' %}
    <br/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'cash_expenses' %}">Cash Expenses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <h4 class="text-center">Expenses</h4>

            <form method="post" id="formset">
                {% csrf_token %}
                <h5 class="text-center">New Expense on {{ date }}</h5>
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}