<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link {% if 'banks' in request.path %}
                        active
                        {% endif %}" href="{% url 'banks' %}">Banks</a>
    <a class="nav-item nav-link {% if 'cash-deposit' in request.path %}
                        active
                        {% endif %}" href="{% url 'cash_deposits' %}">Bank Deposits</a>
    <a class="nav-item nav-link {% if 'cash-expense' in request.path %}
                        active
                        {% endif %}" href="{% url 'cash_expenses' %}">Cash Expenses</a>
</nav>