<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link {% if 'banks' in request.path %}
                        active
                        {% endif %}" href="{% url 'banks' %}">Banks</a>
    <a class="nav-item nav-link {% if 'cash' in request.path %}
                        active
                        {% endif %}" href="">Bank Deposits</a>
    <a class="nav-item nav-link {% if 'debtors' in request.path %}
                        active
                        {% endif %}" href="{% url 'trade-debtors' %}">Cash Expenses</a>
</nav>