{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    {% include 'includes/filter_css.html' %}
{% endblock %}
{% block content %}
    <h4 class="text-center">Orders</h4>
    <p>
        <a class="btn btn-outline-success" href="{% url 'customers' %}">
            <span data-feather="plus"></span>
            Place Orders
        </a>
    </p>
    {% include 'includes/filter_by.html' %}
    <table id="customers" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Received by</th>
            <th>Date Of Delivery</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in object_list %}
            <tr>
                <td>{{ order.number }}</td>
                <td>{{ order.customer.shop_name }}</td>
                <td>{{ order.received_by }}</td>
                <td>{{ order.date_delivery }}</td>
                <td>{{ order.created_at }}</td>
                <td>
                    <a class="btn btn-outline-success btn-sm"
                       href="{% url 'order_detail' pk=order.number %}">Details</a>
                    <a class="btn btn-outline-success btn-sm"
                       href="{% url 'update-order' pk=order.number %}">Update</a>
                    <a class="btn btn-outline-danger btn-sm"
                       href="{% url 'delete-order' pk=order.number %}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Received by</th>
            <th>Date Of Delivery</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#customers').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "columnDefs": [{
                    "targets": 5,
                    "orderable": false,
                    "searchable": false
                }]
            });
        });
    </script>
    {% include 'includes/filter_js.html' %}
{% endblock %}