{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    {{ form.media.css }}
    {{ formset.media.css }}
{% endblock %}
{% block title %}
    Distribute orders |
{% endblock %}
{% block content %}
    {% include 'includes/order-nav.html' %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Distribute Orders</h1>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <h4 class="text-center">Choose Product</h4>
            <form>
                {{ form | crispy }}
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <h5 class="text-center">Order Items</h5>
    <table id="distribution" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Order No.</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in order_products %}
            <tr>
                <td>{{ order.order.customer.shop_name }}</td>
                <td>{{ order.order.number }}</td>
                <td>{{ order.product.name }}</td>
                <td>order: {{ order.qty }}
                    {% for point in order.orderdistributionpoint_set.all %}
                        <br/>
                        {% if point.center %}
                            {{ point.center.name }}: {{ point.qty }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <button class="btn btn-outline-success btn-sm"
                            id="distribute"
                            data-toggle="modal" data-target="#exampleModalCenter"
                            data-customer="{{ order.order.customer.shop_name }}"
                            data-product="{{ order.product.name }}"
                            data-qty="{{ order.qty }}"
                            data-order_product="{{ order.number }}">
                        Distribute
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Customer</th>
            <th>Order No.</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Order Distribution</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><b>Customer: </b><span id="customer"></span></p>
                    <p><b>Product: </b><span id="product"></span></p>
                    <p><b>Order Qty: </b><span id="qty"></span></p>
                    <form method="post">
                        {% csrf_token %}
                        <input name="url" type="hidden" value="{{ request.get_full_path }}">
                        <input name="order_product" type="hidden" id="order_product">
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {{ form | crispy }}
                        {% endfor %}
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
    {{ formset.media.js }}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#distribution').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "columnDefs": [{
                    "targets": 4,
                    "orderable": false,
                    "searchable": false
                }]
            });
            $("#distribute").click(function () {
                var customer = $(this).data('customer');
                var product = $(this).data('product');
                var qty = $(this).data('qty');
                var order_product = $(this).data('order_product');
                console.log(order_product)
                $(".modal-body p span#customer").text(customer);
                $(".modal-body p span#product").text(product);
                $(".modal-body p span#qty").text(qty);
                $(".modal-body #order_product").val(order_product);
                // As pointed out in comments,
                // it is superfluous to have to manually call the modal.
                $('#exampleModalCenter').modal('show');
            });
        });
    </script>
{% endblock %}
